/*
PALETTE
https://coolors.co/634133-db7f67-466362-d0fcb3-5da9e9

#634133 - Van Dyke Brown
#DB7F67 - Middle Red
#466362 - Deep Space Sparkle
#D0FCB3 - Tea Green
#5DA9E9 - Blue Jeans

Dark:
#1C211F - Dark Jungle Green
#262C29 - Charleston Green
#2F3733 - Outer Space Crayola

*/

/* Global styles
------------------------------*/
body {
	color: #262C29 
}

img {
	width: 300px;
}


/* Profile
------------------------------*/
header {
	background: #466362
}



/* Projects
------------------------------*/



/* Work Experience
------------------------------*/



/* Education
------------------------------*/



/* Contact Info
------------------------------*/